#whole-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Arial; 
    font-style: bold;
    text-align: center;
    font-size: 20px;
    color: white;
    height: 350px;
    width: 1000px;
    margin: 0 auto;
    background-image: url("chevron.jpg");
    background-size: cover;
}

#title {
    align-items: center;
    height: 150px;
    width: 75%;
    background-color: aqua;
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;
 
  }
  
  #item {
    display: grid;
    background-color: aqua;
    color: white;
    margin: 0px;
    width: 30%;
    text-align: center;
}
 
#ME {
  font-size: 50px;
  color: white;
  opacity: 0;
}
#ME.fade{
  opacity: 1;
}

  #profile-pic {
    opacity: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 15% auto;
  }

  #profile-pic:hover {
    opacity: 1;
  }

  #right {
    display: grid;
    color: black;
    text-align: center;
    width: 70%;
    margin-left: 30px;
    
}
  
  h2 {
      font-weight: 800;
      font-size: 40px;
      border-top: 6px solid white ;
      border-bottom: 6px solid white;;
      }

#p {
   
    font-weight: 600;
    font-size: 50px;
}


#languages {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
} 

#referance {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}

